## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Pecanha,BR,-18.5486,-42.5569,55.18,77,3,2.77,clear sky
1,1,Port Alfred,ZA,-33.5906,26.8910,57.24,60,65,3.74,broken clouds
2,2,Mackenzie,CA,55.2999,-123.1698,66.42,63,100,3.44,overcast clouds
3,3,Cherskiy,RU,68.7500,161.3000,64.27,36,9,7.18,clear sky
4,4,Tukrah,LY,32.5341,20.5791,77.00,88,0,4.68,clear sky
...,...,...,...,...,...,...,...,...,...,...
680,680,Saint Anthony,US,45.0205,-93.2180,71.22,60,0,12.66,clear sky
681,681,Truth Or Consequences,US,33.1284,-107.2528,88.03,33,40,5.75,scattered clouds
682,682,Upington,ZA,-28.4478,21.2561,45.39,40,0,7.78,clear sky
683,683,Muli,MV,2.9167,73.5667,81.99,76,98,11.36,overcast clouds
684,684,Abay,KZ,49.6311,72.8539,66.58,37,0,2.17,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the miniumum temperature you would like for your trip?"))
max_temp = float(input("What is the maxiumum temperature you would like for your trip?"))

What is the miniumum temperature you would like for your trip?78
What is the maxiumum temperature you would like for your trip?85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
14,14,Bathsheba,BB,13.2167,-59.5167,81.21,93,40,9.22,scattered clouds
15,15,Kharod,IN,21.7500,82.5667,78.73,84,100,8.03,overcast clouds
18,18,Avera,US,33.1940,-82.5271,78.85,79,100,6.85,overcast clouds
23,23,Miles City,US,46.4083,-105.8406,83.37,32,75,16.11,broken clouds
28,28,Yarmouth,US,41.7057,-70.2286,80.71,89,75,14.97,broken clouds
...,...,...,...,...,...,...,...,...,...,...
654,654,Oistins,BB,13.0667,-59.5333,79.52,81,64,11.88,broken clouds
674,674,Derzhavinsk,KZ,51.1000,66.3167,78.08,30,10,9.37,clear sky
675,675,Lahat,ID,-3.8000,103.5333,81.95,78,92,2.37,overcast clouds
677,677,Panaba,MX,21.2833,-88.2667,78.53,85,100,9.06,overcast clouds
683,683,Muli,MV,2.9167,73.5667,81.99,76,98,11.36,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                134
City                   134
Country                134
Lat                    134
Lng                    134
Max Temp               134
Humidity               134
Cloudiness             134
Wind Speed             134
Current Description    134
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace=True)
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
14,14,Bathsheba,BB,13.2167,-59.5167,81.21,93,40,9.22,scattered clouds
15,15,Kharod,IN,21.7500,82.5667,78.73,84,100,8.03,overcast clouds
18,18,Avera,US,33.1940,-82.5271,78.85,79,100,6.85,overcast clouds
23,23,Miles City,US,46.4083,-105.8406,83.37,32,75,16.11,broken clouds
28,28,Yarmouth,US,41.7057,-70.2286,80.71,89,75,14.97,broken clouds
...,...,...,...,...,...,...,...,...,...,...
654,654,Oistins,BB,13.0667,-59.5333,79.52,81,64,11.88,broken clouds
674,674,Derzhavinsk,KZ,51.1000,66.3167,78.08,30,10,9.37,clear sky
675,675,Lahat,ID,-3.8000,103.5333,81.95,78,92,2.37,overcast clouds
677,677,Panaba,MX,21.2833,-88.2667,78.53,85,100,9.06,overcast clouds
683,683,Muli,MV,2.9167,73.5667,81.99,76,98,11.36,overcast clouds

#### Our DF does not have an empty rows

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
14,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,
15,Kharod,IN,78.73,overcast clouds,21.7500,82.5667,
18,Avera,US,78.85,overcast clouds,33.1940,-82.5271,
23,Miles City,US,83.37,broken clouds,46.4083,-105.8406,
28,Yarmouth,US,80.71,broken clouds,41.7057,-70.2286,
...,...,...,...,...,...,...,...
654,Oistins,BB,79.52,broken clouds,13.0667,-59.5333,
674,Derzhavinsk,KZ,78.08,clear sky,51.1000,66.3167,
675,Lahat,ID,81.95,overcast clouds,-3.8000,103.5333,
677,Panaba,MX,78.53,overcast clouds,21.2833,-88.2667,
683,Muli,MV,81.99,overcast clouds,2.9167,73.5667,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        hotel_df.loc[index, "Hotel Name"] = np.nan
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
14,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,Atlantis Hotel
15,Kharod,IN,78.73,overcast clouds,21.7500,82.5667,STARiHOTELS Sheorinarayan
23,Miles City,US,83.37,broken clouds,46.4083,-105.8406,FairBridge Inn & Suites Miles City
28,Yarmouth,US,80.71,broken clouds,41.7057,-70.2286,Blue Rock Resort
29,Mount Isa,AU,83.97,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
...,...,...,...,...,...,...,...
654,Oistins,BB,79.52,broken clouds,13.0667,-59.5333,Butterfly Beach Hotel
674,Derzhavinsk,KZ,78.08,clear sky,51.1000,66.3167,Ooo.khim Baza
675,Lahat,ID,81.95,overcast clouds,-3.8000,103.5333,Hotel Grand Zuri Lahat by ZHM
677,Panaba,MX,78.53,overcast clouds,21.2833,-88.2667,Hotel Don Fernando
683,Muli,MV,81.99,overcast clouds,2.9167,73.5667,Medhufushi Island Resort

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_Database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))